.container {
  max-width: 1280px;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
}
.nav-item {
  display: flex;
  list-style: none;
  gap: 48px;
  padding: 40px 0;
}
.nav-item a {
  text-decoration: none;
  color: rgb(112, 112, 112);
  font-size: 16px;
  font-weight: 600;
}
.nav-item a .home {
  color: rgb(37, 36, 50);
}

/* .container img {
  width: 100px;
  padding: 20px;
} */
/* RESPONSIVE */
@media (max-width:768px) {
  .container{
        margin: 0 10px;
    }
 .nav-item {
    display: none;
  }
  .home {
    display: inline-block;
  }
  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .flower-and-plant {
 flex-direction: column;
  padding-top: 250px;
  gap: 25px;
  
}
.flower-and-plant-text h2{
    padding-bottom: 40px;
}
.flower-and-plant-text p{
    padding-top: 40px;
}
.latest-details {
  display: none;
  flex-direction: column;
  gap: 30px;
}

  .card-plants {
grid-template-columns: repeat(2, 1fr);
}
 .footer-content {
 display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding: 0px;
 }
 
 
}


/* banner */
.banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.banner img {
  width: 570px;
  height: 355px;
}
.banner h2 .flower {
  color: rgb(233, 90, 8);
}
.banner h2 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: auto;
}
.banner p {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.5);
}
/* CARD */
.card-text h2 .flower {
  color: rgb(233, 90, 8);
}
.card-text h2 {
  font-size: 50px;
  font-weight: 700;
  height: 1px;
}
.card-text p {
  font-size: 26px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-left: 55px;
}
.card-text {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16;
}

.card-item {
  width: 250px;
  background-color: white;
  text-align: center;
  gap: 5px;
}
.card-item img {
  width: 270px;
  height: 322.94px;
  padding-bottom: 10px;
}
.card-item h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 150%;
  margin: 0 0 15px;
}
.card-item h5 {
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
  align-items: center;
  margin: 0 0 15px;
}
.btn-primary {
  width: 270px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 26px 50px 26px 50px;
  background-color: rgb(233, 90, 8);
  margin: 0px 15px;
  border: none;
  color: white;
  font-size: 18px;
}
.card-plants {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

}
/* flower-and-plant */
.flower-and-plant {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  gap: 25px;
}
.flower-and-plant-img img {
  width: 540px;
  height: 537px;
}
.flower-and-plant-text h2 {
  font-size: 50px;
  font-weight: 700;
  height: 68px;
  height: 1px;
  padding-bottom: 40px;
}
.flower-and-plant-text ul li p {
  font-size: 26px;
  font-weight: 400;
  line-height: 27px;
  height: 100%;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
}
/* latest details css */
.latest-details {
  display: flex;
  justify-content: space-between;
  gap: 30px;
   margin-bottom: 100px;
}
.latest-details-left {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
  padding-left: 60px;

  position: relative;
  z-index: 10;
}

.latest-details-left .small-image .text,
.small-image-2 .text {
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 26px 50px 26px 50px;
  color: white;
}

.small-image {
  background-image: url(./assets/deal-bloom.png);
  width: 366.22px;
  height: 206px;
  border-radius: 10px;

  filter: blur(0.8px);

  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.small-image-2 {
  background-image: url(./assets/deal-ana.png);
  width: 366.22px;
  height: 206px;
  border-radius: 10px;

  filter: blur(0.8px);

  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
.latest-details-right {
  background-image: url(./assets/deal-zabo.png);
  width: 753px;
  height: 423.13px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  padding-left: 50px;
  filter: blur(1px);
  position: relative;
  z-index: 10;
}
.latest-details-right .text {
  align-items: center;
  gap: 10;
  padding: 86px;
  color: white;
  font-size: 30px;
  top: 20px;
  left: 20px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
}
.latest-details-right .text #ta {
  font-size: 30px;
}
.btn {
  display: inline-block;
  padding: 0 86px;
  background-color: none;
  color: #ede7e7;
  font-weight: bold;
  border-radius: 4px;
  text-decoration-line: underline;
  font-size: 20px;
}

.search-parent input {
  /* border-radius: 66px; */
text-align: center;
  padding: 20px 35px;
  width: 500px;
  background-color: rgb(241, 241, 241);
  border: none;
}
.search-parent{
  display: flex;
  justify-content: center;
flex-direction: row;

}

/* join part */
.hero {
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #f5efef;
}

.hero-content form {
    display: flex;
    justify-content: center;
}

.hero-content input {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.hero-content button {
    padding: 10px 20px;
    border: none;
    background-color: #f4a261;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.hero-content button:hover {
    background-color: #e07626;
}
/* footer part */
footer {
    background-color: #fff;
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    /* margin: 10px 10px; */
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 10;
}

.footer-section h3 {
    margin-bottom: 10px;
    color: #333;
}
.footer-section p{
font-size: 22px;
font-weight: 400;

color: rgba(0, 0, 0, 0.5);
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 30px 0;
}

.footer-section ul li a {
    color: #666;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #f4a261;
}

.footer-logo {
    width: 100px;
    margin-bottom: 10px 15px;
}

.social a {
    margin: 0px 20px;
}

.social img .footer-section-1{
  
  margin: 10px 0;
    width: 20px;
    height: 24px;
}

